body{
    margin:0;
    padding:0;
    background:#141414;
    color:white;
    font-family:Arial, sans-serif;
    
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#quiz-container{
    width: 90%;
    max-width: 500px;

    background: #1f1f1f;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

#question{
    margin-bottom:25px;
}

#answers{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.answer{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#333;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.answer:hover{
    background:#555;
    transform:scale(1.03);
}

.selected{
    background:#e50914;
}

#next-btn{
    margin-top:25px;
    padding:12px 30px;
    border:none;
    border-radius:10px;
    background:#e50914;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

#next-btn:hover{
    background:#ff1f1f;
    transform:scale(1.05);
}